.header{
  background-color: #32CD32;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.logo {
  width: 40px;
}

.title {
  margin-left: 40px;
  font-size: 30px;
  font-family: sans-serif;
  color: '#fff';
}
